* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f9;
  }
  
  .container {
    width: 60%;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(8, 8, 16, 0.5);
    border-radius: 8px;
    border: solid 1px;
  }
  
  h1, h2, h3, h4 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .alinha-botao{
    display: flex;
    flex-direction: row;
  
  }
  
  button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    
  }

  button#listar{
    background-color: #4f67cf;
  }

  button#listar:hover{
    background-color: #232188;
  }

  button#btn-cat{
    background-color: #950fca;
  }
  button#btn-cat:hover{
    background-color: #7c66ca;
  }
    
  button:hover {
    background-color: #218838;
  }

  #btnPesquisar{
    width: 10%;
    background-color: #007bff;
  }

 
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f8f9fa;
  }
  
  td button {
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  td button:hover {
    opacity: 0.8;
  }
  
  td button:nth-child(2), #btnRemover {
    background-color: #dc3545;
  }
  